form {
    
    max-width:400px;
    font-size:16px;
    display:flex;
    flex-direction: column;
    gap:16px;
    background-color: unset;


    .form-field {
        display:flex;
        flex-direction: column;
        gap:4px;
    }

    input {
        padding: 8px 4px;
        border-radius:none;
        border:1px solid rgba(20,20,20,.8);
    }

    
}